/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: grid;
    place-items: center;
}

/* custom dark mode */
.darkMode {
    background-color: black;
    color: white;
}

/* main */

.calculator {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.calculator h1 {
    text-align: center;
    margin-bottom: 30px;
    color: brown;
    font-family: monospace;
    font-weight: 500;
    font-style: italic;
}

.result_container .operation,
.result_container .result {
    min-height: 50px;
    margin-bottom: 0;
    border-bottom: 1px solid;
    letter-spacing: 5px;
    font-size: 25px;
}

/* buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    width: calc(90% / 4);
    padding: 10px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .calculator {
        max-width: 300px;
    }

    .buttons button {
        width: calc(90% / 3);
    }
}